# C extensions
*.so

# Distribution / packaging
dist/
build/
*.egg-info/
*.egg

# Virtual environments
venv/
env/
.env

# IDE specific files
.idea/
.vscode/

# Logs
*.log

# Test temporary directories
temp_test/

# Miscellaneous
*.swp
.DS_Store

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class

# Unit test / coverage reports
.pytest_cache/
